.button {
    background-color: $yellow;
    text-align: center;
    font-family: "Montserrat", "Sans-serif";
    font-weight: 700;
    color: $white;
    width: 100%;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    box-shadow: 10px 10px 30px #ffcb473d;
    border: none;
    margin-bottom: .75rem;
    &__cart--yellow {
        color: $yellow;
        background-color: unset;
        box-shadow: none;
        border: 1px solid $yellow;
    }
}
